[user]
	name = Kretsinger-Walters, Aksel
	email = akseldkw@gmail.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[core]
	excludesfile = /Users/Akseldkw/coding/kretsinger/.gitignore
[pager]
	branch = false
[fetch]
	prune = true
[alias]
	co=checkout
	st=status
	br=branch
[http]
	sslVerify = false
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
